H1 {
  FONT-size: 45px;
  text-align: center;
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
  margin:0;
}
ul {
  border-right: 1px solid gray;
  width: 150px;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}
li {
  padding: 5px;
}
a {
  text-decoration: none;
}
.active {
  color:red;
}
#grid{
  display: grid;
  grid-template-columns: 200px 1fr;
}
#article{
  padding-left: 20px;
}
#grid img{
  border:5px solid gray;
  padding:5px;
}
